<div class="slide">
	<div class="header">
		{{#words}}
		<h1 class="title">{{name}}</h1>
		{{/words}}
		<div class="hero">{{#if next}}
			<div class="navigation">
				<a href="{{prev.path}}" title="{{prev.name}}" 
					class="prev-link arrow">
					<span>◀</span>
				</a>
				<a href="{{next.path}}" title="{{next.name}}"  
					class="next-link arrow">
					<span>▶</span>
				</a></div>
			{{/if}}
			{{#photo}}
			<img class="hero-img" src="{{url_z}}" alt="">
			{{/photo}}
		</div>
	
	</div>
	<div class="bd">
		{{{words.content}}}
	</div>
</div>