<div class="carousel">
	<ul>{{#birds}}{{#photo}}
		<li>
			<a class="slidelink" href="http://www.flickr.com/photos/{{pathalias}}/{{id}}">
				<img data-owner="{{ownername}}" data-flickr-url="http://www.flickr.com/photos/{{pathalias}}/{{id}}" alt="{{title}}" data-full-height="{{height_z}}" data-full-width="{{width_z}}" src="{{url_q}}" height="75" width="75">
			</a>
		</li>{{/photo}}{{/birds}}
	</ul>
</div>